<%= form_with(model: leafe, local: true) do |form| %>
  <% if leafe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(leafe.errors.count, "error") %> prohibited this leafe from being saved:</h2>

      <ul>
      <% leafe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :leave_type %>
    <%= form.collection_select :leave_type, Leave.select('distinct leave_type'),:leave_type,:leave_type, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :leave_date %>
    <%= form.date_select :leave_date, autofocus: true, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :employee_id %>
    <%= form.collection_select :employee_id, Employee.order(:name),:id,:name, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= form.submit "Submit", class: "btn btn btn-primary"%>
  </div>
<% end %>
